<p>user-registration works!</p>


<form [formGroup]="RegistrationForm">
  <div class="maincontainer">

    <input type="text" name="name" placeholder="enter your name">
     <input type="text" name="email" placeholder="enter your email">
    <input type="text" name="age" placeholder="enter your age">
       <input type="text" name="address" placeholder="enter your address">
        <input type="text" name="contactno" placeholder="enter your contactno">
         <input type="text" name="password" placeholder="enter your password">

         <button>Submit</button>

  </div>


</form>