<router-outlet></router-outlet>

<!-- 
<h1>NgRx Multi-Component Demo</h1> -->

<!-- component 1: adds tasks -->
<!-- <app-state-management></app-state-management> -->

<!-- component 2: shows list -->
<!-- <app-task-lists></app-task-lists> -->

<!-- component 3: shows only counter -->
<!-- <app-task-counter></app-task-counter> -->


<!-- component 4 RXjs-observable -->
 <!-- <app-rxjs-observables></app-rxjs-observables> -->

 <!-- General concepts -->
  <app-general-concepts></app-general-concepts>


 <!-- Parent component -->
  <!-- <div>
    <h2>this is a parent component</h2>
  <app-parent></app-parent>
  </div> -->

  <!-- <br> -->
  
  <!-- Child component -->
   <!-- <h2 style="color:red;font-weight:bold">this is a child component</h2>
   <app-child></app-child> -->